{% extends 'base.html' %}

{% block content %}

<title>
    {{session.userinfo.name}} Dashboard
</title>

<body>
    <div class="container mt-5">
        <h2>User Dashboard</h2>
        <form id="userProfileForm">

            <!-- Email Verification -->
            {% if session.userinfo.email_verified == False %}
            <div class="form-group">
                <form action="https://login.auth0.com/api/v2/jobs/verification-email" method="post">
                    <input hidden id="user_id" value={{session.userinfo.user_id}}>
                    <label>Please verify your email now to access all features.</label>
                    <button type="submit" formmethod="post">Resend Email Verification</button>
                </form>
            </div>
            {% endif %}

            <!-- Profile Picture -->
            <div class="form-group">
                <img class="img-thumbnail" src={{session.userinfo.picture}}></img> 
                <label for="profilePicture">Profile Picture</label>
                <input type="file" class="form-control-file" id="profilePicture">
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder={{session.userinfo.email}} readonly>
            </div>

            <!-- Phone Number -->
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber">
            </div>

            <!-- Location -->
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location">
            </div>

            <!-- Save Button -->
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>

{% endblock %}