    {% extends 'base.html' %}

    {% block content %}
    <style>
        .attractions-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .attraction-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            margin: 10px;
            padding: 15px;
            width: 300px;
            text-align: center;
            transition: box-shadow 0.3s;
        }
        .attraction-card:hover {
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        }
        .attraction-image {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .attraction-name {
            font-size: 1.2em;
            margin-top: 10px;
        }
        .attraction-description {
            font-size: 0.9em;
            color: #555;
            margin-top: 10px;
        }
    </style>

    
    <a class="nav-link btn btn-secondary" href="{% url 'suggest' %}">Suggest a new attraction</a> </br>
    <a class="nav-link btn btn-primary" href="{% url 'recommendations_attractions' %}">See your recommended attractions</a> </br>
    
    <h1>Attractions</h1>
    <div class="attractions-container">
        {% for attraction in attractions %}
        <a href="{% url 'attraction_detail' attraction.id %}" >
            <div class="attraction-card">
                <img src="{{ attraction.image_url }}" alt="{{ attraction.name }}" class="attraction-image">
                <h2 class="attraction-name">{{ attraction.name }}</h2>
                <p class="attraction-description">{{ attraction.description }}</p>
                <!-- placeholder for later -->
            </div>
        </a>
        {% empty %}
        <p>No attractions found.</p>
        {% endfor %}
    </div>
    {% endblock %}
