<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{% block title %}WyeVisit{% endblock title %}</title> -->
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS -->
    <style>
        .footer {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
        }
    </style>

<!-- leaflet -->
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">WyeVisit</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'attraction_list' %}">Attractions</a>
                        </li>
                        {% if session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile_list' %}">Profiles</a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'suggest' %}">Suggest</a>
                        </li> {% endcomment %}
                        {% endif %}
                        
                    </ul>
                </div>
                <div class="ml-auto"> 
                    <ul class="navbar-nav">
                        <li>
                            <form class="d-flex" role="search" method="GET" action="{% url 'search_attractions' %}">
                                {% csrf_token %}
                                <input
                                class="form-control me-2"
                                type="search"
                                placeholder="Search Attractions"
                                name="search_query"
                                required aria-label="Search"
                                >
                                <button class="btn btn-outline" type="submit">Search</button>
                            </form>
                        </li>

                        {% if session %}
                        {% if account.current_profile %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile_detail' account.current_profile.id %}">Current Profile ({{account.current_profile.nickname}})</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="{% url 'user_dashboard' %}">User Dashboard ({{session.userinfo.name}})</a> -->
                            <!-- <a class="nav-link" href="{% url 'user_dashboard' %}">Dashboard ({{user.username}})</a> -->
                            <a class="nav-link" href="{% url 'user_dashboard' %}">Dashboard ({{account.username}})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if session.userinfo.email_verified == False %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="container text-center navbar-light bg-light">
                    <div class="row">
                        <div class="col">
                            <p>Your account is not yet verified. Please verify your email to access all features. </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
    </header>

    <main role="main" class="container">

        {% comment %} {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endcomment %}



        {% block content %}
        <!-- content will go here -->
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">A Computing Coursework Project. Version: Caerleon </span>
        </div>
        <div>
            {{session.userinfo}}
        </div>
        {% comment %} <div>
            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<!-- {{account}} -->
        </div> {% endcomment %}
        <div>
            {{Account.objects}}
        </div>
    </footer>



    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

    {% comment %} LEGACY, IGNORE ABOVE!!! {% endcomment %}
    {% comment %}  moved to the top, in header.  {% endcomment %}





{% if messages %}
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('#messageModal').modal('show');
});
</script>
{% endif %}










</body>
</html>
