<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WyeVisit{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS -->
    <style>
        .footer {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
        }
    </style>

<!-- leaflet -->
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">WyeVisit</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'attraction_list' %}">Attractions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile_list' %}">Profiles</a>
                        </li>
                        {% if session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'suggest' %}">Suggest</a>
                        </li>
                        {% endif %}
                        
                    </ul>
                </div>
                <div class="ml-auto"> 
                    <ul class="navbar-nav">
                        <li>
                            <form class="d-flex" role="search" method="GET" action="{% url 'search_attractions' %}">
                                {% csrf_token %}
                                <input
                                class="form-control me-2"
                                type="search"
                                placeholder="Search Attractions"
                                name="search_query"
                                required aria-label="Search"
                                >
                                <button class="btn btn-outline" type="submit">Search</button>
                            </form>
                        </li>
                        {% if session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_dashboard' %}">User Dashboard ({{session.userinfo.name}})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if session.userinfo.email_verified == False %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="container text-center navbar-light bg-light">
                    <div class="row">
                        <div class="col">
                            <p>Your account is not yet verified. Please verify your email to access all features. </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
    </header>

    <main role="main" class="container">
        {% block content %}
        <!-- content will go here -->
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">A Computing Coursework Project. Version: Newport</span>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
